/************************************************

Stylesheet: Mega-Menu CSS Stylesheet

*************************************************/

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#page-full-width-landing-page-new {

    header.header {

        height: 4rem;
        margin-top: 0;

        & .row-wide.lp-header {

            top: 0.5rem;
        }
    }
}

header.header {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999999;
    transition: box-shadow, background, border, top 0.2s ease;

    &:before,
    &:after {

        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        transition: opacity 0.3s;
    }

    &:before {

        background: linear-gradient(180deg, rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.125) 70%, transparent 100%);
    }

    &:after {

        box-shadow: 0 0 30px 0 rgba(0,0,0,0.375);
        background: transparentize($charcoal, 0.01);
        opacity: 0;
    }

    &.alt-nav-bkg {

        &:after {

            opacity: 1;
        }

        &.search-mode {

            border-bottom: 1px solid rgba(255,255,255,0.65);
        }
    }

    & > #eyebrow-notice {

        transition: all 0.2s ease;
    }

    &.hide-nav {

        top: -4rem;

        & > #eyebrow-notice {

            margin-top: -4rem;
        }

        & #burger {

            top: -4rem;
        }
    }

    &.search-mode {

        border-bottom: 1px solid rgba(255,255,255,0.25);

        @media #{$medium-down-screen} {

            border-bottom: none;
        }

        & .nav-wrapper {

            & nav {

                opacity: 0;
            }

            & #search-box {

                top: 0;
                opacity: 1;
                z-index: 99999;
            }

            & .banner-button {

                display: none;
            }

            @media #{$medium-down-screen} {

                & .logo {

                    opacity: 0;
                }

                & nav {

                    opacity: 1;

                    & .search-icon {

                        opacity: 0;
                    }
                }
            }
        }
    }

    & .nav-wrapper {

        position: relative;
        max-width: 73.125rem;
        margin: 0 auto;
        height: 4rem;
        overflow: hidden;

        & .logo {

            display: inline-block;
            width: 8rem;
            float: left;
            transition: opacity 0.2s;

            & img {

                  max-width: 80%;
            }

            @media #{$medium-down-screen} {

                float: none;
                margin-right: -2rem;
            }
        }

        & .banner-button {

            display: inline-block;
            float: right;

            @media #{$medium-down-screen} {

                display: none;
            }

            & .button {

                // New Styles Here
            }
        }

        & nav {

            display: inline-block;
            transition: opacity 0.2s;

            &.icon-menu {

                color: $off-white;
                float: right;

                & a {

                    color: $off-white;
                    transition: color 0.2s ease;
                    display: inline-block;
                    margin-right: 1rem;

                    & .fa {

                        transition: transform 0.2s ease;
                        margin: 0;
                    }

                    &:hover {

                        color: $white;

                        & .fa {

                            transform: scale(1.5);
                        }
                    }

                    &.search-icon {

                        transform: rotate(-45deg);
                    }

                    @media #{$medium-down-screen} {

                        display: none;

                        &:last-of-type {

                            display: inline-block;
                            margin-right: 1rem;
                            transition: opacity 0.2s;

                            & .fa {

                                transform: scale(1.75) !important;
                            }
                        }
                    }
                }
            }

            &.top-bar {

                overflow: visible !important;

                & .button {

                    height: inherit;
                }

                &.mega-menu {

                    background: $transparent;
                    z-index: 999 !important;
                    animation: fadein 2s;
                    letter-spacing: 1px;
                    height: auto !important;

                    & ul.top-nav-menu {

                        margin: 0;
                        display: inline;

                        & li {

                            &.mobile-nav-icons {

                                display: none;
                            }

                            &.top-nav-item {

                                display: inline;

                                & .top-level {

                                    position: relative;
                                    @include fluid-type(37.5rem, 80rem, 0.925rem, 1rem);
                                    font-weight: $font-weight-extralight;
                                    line-height: normal;
                                    padding: 1.5rem 0.5rem;
                                    color: $off-white;
                                    transition: none;

                                    @media #{$large-screen} {

                                        &.open,
                                        &:hover {

                                            background: $secondary;
                                        }
                                    }
                                }
                            }
                        }

                        @media #{$medium-down-screen} {

                            overflow: scroll;
                            display: block;
                            top: 0;
                            padding: 0;
                            left: 0;
                            transition: left 0.3s ease;
                            width: 100vw;
                            margin-left: 0;
                            z-index: 800;
                            overflow: scroll;

                            & li {

                                position: relative;
                                border-bottom: 1px solid rgba(255,255,255,0.25);

                                &.mobile-nav-icons {

                                    display: block;
                                    background: rgba(0,0,0,0.25);
                                    box-shadow: 0 0 50px rgba(0,0,0,0.25) inset;

                                    & a {

                                        padding: 0;
                                        display: inline-block;
                                        width: 3rem;
                                        height: 3rem;
                                        margin: 1rem 0.5rem;
                                        line-height: 3rem;
                                        background: #fbfbfb;
                                        border-radius: 100%;
                                        box-shadow: 0 0 25px rgba(0,0,0,0.375);

                                        & .fa {

                                            margin: 0;
                                        }
                                    }
                                }

                                &.top-nav-item {

                                    display: block;

                                    & a {

                                        &.mobile-back-btn {

                                            position: absolute;
                                            color: $off-white;
                                            left: 15%;
                                            top: 50%;
                                            transform: translateY(-50%);
                                            z-index: 10;

                                            & i {

                                                margin: 0;
                                            }
                                        }

                                        &.top-level {

                                            display: block;
                                            padding: 1rem 0;
                                            width: 70%;
                                            margin: 0 auto;

                                            &[data-mega-menu] {

                                                &:after {

                                                    content: '\f105';
                                                    font-family: FontAwesome;
                                                    position: absolute;
                                                    right: 0;
                                                    left: auto;
                                                    top: 50%;
                                                    transform: translateY(-50%);
                                                    font-size: 1.375rem;
                                                    color: #fbfbfb;
                                                    display: block;
                                                    height: auto;
                                                    width: 0;
                                                }
                                            }
                                        }

                                        &.mobile-nav-back {

                                            position: absolute;
                                            left: 0;
                                            top: 50%;
                                            transform: translateY(-50%);
                                            margin-left: 6%;
                                            font-size: 1.375rem;
                                            color: #fbfbfb;
                                        }
                                    }
                                }
                            }
                        }
                    }

                &:focus {

                        outline: none;
                    }
                }

                @media #{$medium-down-screen} {

                    position: absolute;
                    top: 4rem;
                    left: -100%;
                    transform: none;
                    // margin-top: 4rem;
                    overflow: scroll !important;

                    &.mega-menu {

                        height: 90vh !important;

                        &.open {

                            left: 0;

                            & .top-nav-menu {

                                &.open {

                                    margin-bottom: 10vh;
                                }
                            }
                        }
                    }
                }
            }
        }

        @media #{$medium-down-screen} {

            overflow: inherit;
            border-bottom: 1px solid rgba(255,255,255,0.25);
        }
    }

    & .mega {

        position: absolute;
        display: block;
        top: 4rem !important;
        left: -9999px !important;
        width: 100vw;
        opacity: 0;
        padding: 0;
        margin: 0;
        border: none;
        background: $transparent;
        transform: translateY(-1rem);
        transition: transform 0.3s ease, opacity 0.2s;
        box-shadow: $mega-menu-drop-shadow;

        & .fixed-height {

            height: 20rem !important;
        }

        & .left-wing {

            background: $white;
            position: absolute;
            text-align: center;
            top: 0;
            bottom: 0;
            right: 50%;
            transition: left 0.2s ease;
            padding: 0;
            overflow: hidden;
            box-shadow: -2px 0 30px -10px rgba(0,0,0,0.5) inset;
            background: rgba(248, 248, 248, 0);

            &:after {

                content: "";
                position: absolute;
                top: 0;
                left: 0;
                height: 100%;
                width: 100%;
                z-index: -1;
                background-repeat: no-repeat;
                background-size: cover;
                background: #fff;
            }

            & li {

                &:hover {

                    background: transparent;

                    & a {

                        color: $secondary;
                    }
                }
            }

            & a {

                color: $charcoal;

                &:hover {

                    color: $secondary;
                }
            }

            & .row {

                position: absolute;
                top: 50%;
                transform: translateY(-50%);

                & img {

                    width: auto;

                    &.cta-image {

                        width: 75%;
                        margin-bottom: -65%;
                        margin-top: 2rem;
                    }
                }
            }

            @media #{$medium-down-screen} {

                display: none;
            }
        }

        & .menu-content {

            background: $white;
            padding: 0;
            z-index: 10;
            overflow: hidden;
            height: 50vh;

            & .menu-content-bkg {

                @media #{$large-screen} {

                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                    width: 100%;
                    z-index: 0;
                    background-position: bottom center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }

                display: none;
            }

            @media #{$medium-down-screen} {

                height: inherit;

                & i {

                    display: none !important;
                }

                & .row {

                    &:last-of-type {

                        margin-bottom: 1rem;
                    }
                }

                & .columns {

                    padding: 0 !important;
                    height: auto !important;
                }
            }

            & .container {

                & .row {

                    & .columns {

                        padding: 1rem;

                        & ul,
                        & ul li,
                        & ul li a,
                        & a,
                        & p,
                        & span {

                            @include fluid-type(37.5rem, 80rem, 0.875rem, 1rem);
                            font-weight: $font-weight-extralight;
                            color: $charcoal;

                            @media #{$medium-down-screen} {

                                color: $off-white !important;
                                text-align: center;
                            }
                        }

                        &:last-of-type,
                        &.no-divider {

                            &:after {
                                background: transparent;
                                width: 0;
                            }
                        }

                        & p {

                            &.menu-item-header {

                                @media #{$medium-down-screen} {

                                    font-size: inherit;
                                    font-weight: inherit;
                                    padding: 1rem 2rem;
                                    margin: 0;
                                    border-bottom: 1px solid rgba(255,255,255,0.25);
                                    background: rgba(0,0,0,0.25);

                                    &:hover {

                                        background: transparent;
                                    }
                                }
                            }
                        }

                        &.mega-menu-links {

                            & a {

                                color: $charcoal;
                                background: transparent;
                                transition: color 0.2s ease;

                                & * {

                                    transition: color 0.2s ease;
                                }

                                & li {

                                    display: table;
                                }

                                & li.mega-menu-header {

                                    display: block;
                                }

                                @media #{$large-screen} {

                                    & ul.mega-menu-items li.mega-menu-header,
                                    & > li {

                                        position: relative;

                                        &:after {

                                            content: "";
                                            position: absolute;
                                            display: block;
                                            background: $secondary;
                                            opacity: 0;
                                            width: 0;
                                            bottom: -0.125rem;
                                            transition: width 0.2s ease, opacity 0.2s;
                                        }
                                    }

                                    &:hover {

                                        & ul.mega-menu-items li.mega-menu-header,
                                        & > li {

                                            &:after {

                                                width: 90%;
                                                opacity: 1;
                                                height: 0.125rem;
                                            }
                                        }

                                        & > li {

                                            &:after {

                                                width: 100%;
                                            }
                                        }
                                    }
                                }

                                &:hover {

                                    color: $secondary;

                                    & * {

                                        color: $secondary;
                                    }
                                }
                            }
                        }

                        & ul {

                            &.mega-menu-items {

                                width: 100% !important;
                                list-style-type: none;
                                margin: 0;
                                padding: 0 1rem;

                                & li {

                                    @include fluid-type(37.5rem, 80rem, 0.875rem, 1.125rem);
                                    background: transparent;
                                    text-align: left;
                                    margin-left: 0.5rem;
                                    margin-bottom: 0.5rem;

                                    &:hover,
                                    &:active {

                                        background: transparent;
                                    }

                                    &.mega-menu-header {

                                        font-weight: $font-weight-medium;
                                        @include fluid-type(37.5rem, 80rem, 1rem, 1.25rem);
                                        margin-left: 0;

                                        & * {

                                            font-weight: $font-weight-medium;
                                            @include fluid-type(37.5rem, 80rem, 1rem, 1.25rem);
                                        }
                                    }

                                    &.mega-menu-description {

                                        font-weight: $font-weight-extralight;
                                        margin-left: 0;
                                    }
                                }

                                @media #{$medium-down-screen} {

                                    transform: none !important;

                                    & li {

                                        border-bottom: 1px solid rgba(255,255,255,0.25);
                                        background: rgba(0,0,0,0.25);
                                        text-align: center;
                                        margin-right: 0;
                                        margin-bottom: 0;

                                        & a {

                                            color: #1C83EA;
                                            background: transparent;

                                            &:before,
                                            &:after {

                                                display: none !important;
                                            }
                                        }

                                        &:hover {

                                            background: transparent;
                                        }
                                    }
                                }
                            }
                        }

                        @media #{$medium-down-screen} {

                            & ul.mega-menu-items {

                                padding: 0;

                                & li {

                                    display: none;

                                    &.mega-menu-header {

                                        font-weight: 200;
                                        font-size: 0.925rem;
                                        line-height: normal;
                                    }

                                    &.mega-menu-description {

                                        display: none;
                                    }

                                    &:after {

                                        content: '\f105';
                                        font-family: FontAwesome;
                                        position: absolute;
                                        right: 15%;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        font-size: 1.375rem;
                                        color: #fbfbfb;
                                        display: block;
                                        height: auto;
                                        width: 0;
                                    }
                                }

                                & a {

                                    & li {

                                        display: block;
                                        margin: 0;
                                    }
                                }
                            }

                            & a {

                                & ul.mega-menu-items {

                                    & li {

                                        display: block;
                                    }
                                }

                                &.button,
                                & li {

                                    background: rgba(0,0,0,0.25);
                                    padding: 1rem 0;
                                    border-bottom: 1px solid rgba(255,255,255,0.25);
                                    position: relative;
                                    width: 100%;
                                    margin: 0 auto;
                                    text-align: center;
                                    font-size: 0.925rem !important;
                                    font-weight: $font-weight-extralight;
                                    line-height: normal;
                                    border-radius: 0;
                                    box-shadow: none;
                                    transition: background 0.2s ease;

                                    &:hover {

                                        background: transparent;
                                    }
                                }

                                &.button {

                                    text-transform: capitalize !important;

                                    &:before {

                                        display: none;
                                    }

                                    &:after {

                                        content: '\f105';
                                        font-family: FontAwesome;
                                        position: absolute;
                                        right: 15%;
                                        top: 50%;
                                        transform: translateY(-50%);
                                        font-size: 1.375rem;
                                        color: #fbfbfb;
                                        display: block;
                                        height: auto;
                                        width: 0;
                                    }

                                    &:hover {

                                        top: 0;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            @media #{$medium-down-screen} {

                background: transparent;
                border-radius: 0;
                box-shadow: none;
            }
        }

        @media #{$medium-down-screen} {

            transition: none !important;

            & .vertical-align-middle {

                position: relative;
                top: auto;
                transform: none;
            }

            & .fixed-height {

                height: auto !important;
            }

            & .description {

                display: none;
            }
        }

        @media #{$large-screen} {

            &:after {

                content: "";
                position: absolute;
                background: $secondary;
                top: 0;
                height: 0.25rem;
                width: 0;
                left: 50%;
                transform: translateX(-50%);
                transition: width 0.5s ease;
                z-index: 20;
            }

            &.open {

                &:after {

                    width: 120%;
                }
            }
        }

        &.open {

            opacity: 1;
            left: 0 !important;
            transform: translateY(0);

            & .left-wing {

                right: 75%;
            }

            @media #{$medium-down-screen} {

                position: relative;
                top: 0 !important;
                transform: none;
            }
        }

        & .button {

            padding: 1rem 2rem 1.0625rem 2rem;
        }
    }
}

/************************
 *  Mobile Menu Burger  *
*************************/

#burger {

    @media #{$large-screen} {

        display: none !important;
    }

    width: 2rem;
    // height: 1.25rem;
    position: relative;
    top: 1.375rem;
    left: 1.125rem;
    transition: top 0.2s ease, transform 0.5s ease-in-out;
    cursor: pointer;
    z-index: 1000;

    &:before {

        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 3.5rem;
        height: 3.5rem;
        background-color: transparent;
        border-radius: 200px;
        transform: translate(-50%,-50%);
        transition: all 0.2s;
    }

    & span {

        display: block;
        position: absolute;
        height: 0.25rem;
        width: 100%;
        background: #FBFBFB;
        border-radius: 2px;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;

        &:nth-child(1) {

            top: 0;
        }

        &:nth-child(2) {

            top: 0.5rem;
        }

        &:nth-child(3) {

            top: 1rem;
        }
    }

    &.open {

        transform: rotateY(180deg);

        & span {

            color: $alert;

            &:nth-child(1) {
                top: 0.5rem;
                transform: rotate(135deg);
            }

            &:nth-child(2) {
                opacity: 0;
                // left: -5rem;
            }

            &:nth-child(3) {
                top: 0.5rem;
                transform: rotate(-135deg);
            }
        }
    }
}


/****************
 *  Search Box  *
****************/

#search-box {

    position: absolute;
    left: 9rem;
    top: -5rem;
    right: 0;
    background: linear-gradient(90deg, rgba(0,0,0,0.25) 0%, transparent 100%);
    border-left: 1px solid rgba(255,255,255,0.25);
    opacity: 0;
    transition: top 0.2s ease, opacity, 0.2s;

    @media #{$medium-down-screen} {

        left: 4.25rem;
    }

    & input {

        margin: 0;
        color: white;
        height: 4rem;
        padding-left: 1rem;
        font-size: 1.5rem;
        font-weight: $font-weight-thin;
        border: none;
        background: transparent;
        outline: none;
        box-shadow: none;

        /* do not group these rules */
        &::-webkit-input-placeholder {
            color: $off-white;
            font-weight: $font-weight-thin;
            opacity: 0.5;
        }
        &:-moz-placeholder {
            /* FF 4-18 */
            color: $off-white;
            font-weight: $font-weight-thin;
            opacity: 0.5;
        }
        &::-moz-placeholder {
            /* FF 19+ */
            color: $off-white;
            font-weight: $font-weight-thin;
            opacity: 0.5;
        }
        &:-ms-input-placeholder {
            /* IE 10+ */
            color: $off-white;
            font-weight: $font-weight-thin;
            opacity: 0.5;
        }
    }

    & .search-close {

        position: absolute;
        right: 0;
        color: $off-white;
        top: 50%;
        transform: translateY(-50%);
        margin: 0;
    }
}

@media #{$medium-up-screen} {

    #eyebrow-notice ~ .mega {

        top: auto !important;
    }
}
